.container-card-and-map{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-card-project{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container-map{
    height: calc(100vh - 153px);
    width: 100vh;
}

