.container-sign-in{
    height: 100vh;
    padding-bottom: 20px;
}

.button-sign-in{
    display: flex;
    margin-top: 20px;
}

.container-name{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.form-floating{
    margin: 5px;
}